{% extends "head.html" %}

{% block content %}
<main id="main">
    <section id="form" class="form">
        <div class="container">
            <form id ="registration" action="{% url 'user_app:login' %}" method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="inputs">
                    {{ form.username }}
                    <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <div class="inputs">
                    {{ form.password }}
                    <i class="fa fa-key fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <div class="btn-area">
                    <input type="submit" value="ログイン">
                    <a href="{% url 'user_app:user_create' %}"><input type="button" value="会員登録"></a> 
                </div>
            </form>
        </div>
    </section>
</main>


{% endblock %}
