{% extends "head.html" %}

{% block content %}
<main id="main">
    <!-- Breadctumbs -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
  
          <ol>
            <li><a href="{% url 'fashionote:home' %}">Home</a></li>
            <li>ログイン</li>
          </ol>
          <h2>ログイン</h2>
  
        </div>
      </section><!-- End Breadcrumbs -->

    <section id="form" class="form">
        <div class="container">
            <form id ="registration" action="{% url 'user_app:login' %}" method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="inputs">
                    {{ form.username }}
                    <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <div class="inputs">
                    {{ form.password }}
                    <i class="fa fa-key fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <div class="btn-area">
                    <input type="submit" value="ログイン">
                </div>
            </form>
        </div>

    </section>
</main>


{% endblock %}
