{% extends "head.html" %}
{% block content %}
<main id="main">
    <!-- Breadctumbs -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
  
          <ol>
            <li><a href="{% url 'fashionote:home' %}">Home</a></li>
            <li>会員登録</li>
          </ol>
          <h2>会員登録</h2>
  
        </div>
      </section><!-- End Breadcrumbs -->

    <section id="form" class="form">
        <form id="registration" action="" method="POST">
            {{ form.non_field_errors }}
            <div class="inputs">
                {{ form.email}}
                {{ form.email.errors }}
                <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
            </div>
            <div class="inputs">
                {{ form.password1 }}
                {{ form.password1.errors }}
                <i class="fa fa-key fa-lg fa-fw" aria-hidden="true"></i>

            </div>
            <div class="inputs">
                {{ form.password2 }}
                {{ form.password2.errors }}
                <i class="fa fa-check-circle fa-lg fa-fw" aria-hidden="true"></i>
            </div>
            {% csrf_token %}
            <div class="user-btn-area">
                <input type="submit" value="登録">
            </div>
        </form>
    </section>
</main>
{% endblock %}
