{% extends "head.html" %}
{% block content %}
<main id="main">
    <!-- Breadctumbs -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
  
          <ol>
            <li><a href="{% url 'fashionote:home' %}">Home</a></li>
            <li>マイページ</li>
            <li>登録情報変更</li>
          </ol>
          <h2>登録情報変更</h2>
  
        </div>
      </section><!-- End Breadcrumbs -->
    <section>
        <form id="registration" action="" method="POST">
    {{ form.non_field_errors }}
    <div class="inputs">
        {{ form.last_name }}
        {{ form.last_name.errors }}
        <i class="fa fa-home fa-lg fa-fw" aria-hidden="true"></i>
    </div>
    <div class="inputs">
        {{ form.first_name }}
        {{ form.first_name.errors }}
        <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
        
    </div>
    {% csrf_token %}
    <div class="btn-area">
        <input type="submit" value="更新">
    </div>
</form>
    </section>
</main>
{% endblock %}
