{% extends "head.html" %}
{% block content %}
<main id="main">
    <section class="user-detail">
        <div class="container-fluid card">
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>ユーザー名</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>姓</th>
                            <td>{{ user.last_name }}</td>
                        </tr>
                        <tr>
                            <th>名</th>
                            <td>{{ user.first_name }}</td>
                        </tr>
                    </tbody>
                </table>
                <a href="{% url 'user_app:user_update' user.pk %}"><input type="button" value="ユーザー情報更新"></a>
            </div>
        </div>
    </section>
</main>
{% endblock %}
