{% extends 'head.html' %}

{% load static %}

{% block content %}
<main id="main">
  <!-- パンくずリスト -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="{% url 'fashionote:home' %}">Home</a></li>
        <li>ノートを見る</li>
      </ol>
      <h2>{{ brand.brand_name }}</h2>

    </div>
  </section>
  <!-- End -->

  <!-- ノート詳細表示部分 -->
  <section>
    <div class="container-fluid">
      <div class="row">

        <!-- 画像が設定されているときは表示 -->
        {% if brand.image %}
        <div class="col-md-6 brand-image" data-aos="zoom">
          <img src="{{ brand.image.url }}" class="img-fluid img-thumbnail mx-auto d-block" alt="" style="height: 500px">
        </div>

        <!-- 設定されていないときはNoImageの画像を表示 -->
        {% else %}
        <div class="col-md-6" data-aos="zoom">
          <img src="{% static 'img/no_image_square.jpg'%}" class="img-fluid img-thumbnail mx-auto d-block" alt=""
            style="height: 500px">
        </div>

        {% endif %}

        <div class="col-md-6">
          <!-- URLが設定されているときはブランド名にリンクを設定 -->
          {% if brand.url %}
          <div class="title-border" data-aos="fade-up" data-aos-delay="100">
            <h2 style="padding: 70px">
              <a href="{{ brand.url }}"><b>{{ brand.brand_name }}</b></a>
            </h2>
          </div>

          <!-- 設定されていないときはただのテキストとして表示 -->
          {% else %}
          <div class="title-border" data-aos="fade-up" data-aos-delay="100">
            <h2 style="padding: 70px">
              <b>{{ brand.brand_name }}</b>
            </h2>
          </div>

          {% endif %}

          <div class="brand-detail">
            <div class="concept" data-aos="fade-up" data-aos-delay="200">
              <div class="title-border">
                <h2>Concept</h2>
              </div>
              <div class="card">
                <div class="card-body">
                  <p>{{brand.concept}}</p>
                </div>
              </div>
            </div>

            <div class="memo" data-aos="fade-up" data-aos-delay="300">
              <div class="title-border">
                <h2>Memo</h2>
              </div>
              <div class="card">
                <div class="card-body">
                  <p>{{brand.memo}}</p>
                </div>
              </div>
            </div>

            <div class="tag" data-aos="fade-up" data-aos-delay="400">
              <div class="title-border">
                <h2>Tag</h2>
              </div>
              <div class="card" style="margin-bottom:50px">
                <div class="card-body">
                  {% for tag in brand.tags.all %}
                  <span class="badge badge-light">{{ tag }}</span>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="detail-btn-area">
      <a class="show" data-aos="zoom-in" data-toggle="modal" data-target="#deleteModal" data-pk="{{ brand.id }}"
        data-url="{% url 'fashionote:delete' brand.id%}">
        <input style="background: #aaa;" type="button" value="削除">
      </a>
      <a class="show" data-aos="zoom-in" href="{% url 'fashionote:update' brand.id %}">
        <input type="button" value="編集">
      </a>
    </div>
  </section>
  <!-- End -->

  <!-- 削除確認のポップアップ -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">確認</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <p>本当に削除しますか？</p>
        </div>
        <div class="modal-footer">
          <a href="{% url 'fashionote:delete' brand.id %}" class="btn btn-info" id="del_url">OK</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End -->

</main>
{% endblock %}
